@use "templates";
@use "variables";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.app-div {
  position: relative;
  padding: 100px;
  box-sizing: border-box;
  min-height: 100vh;
}

.app-div::before {
  content: "";
  background: url("../assets/main-background.jpg") no-repeat fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6; 
  z-index: -1; 
}

span {
  font-style: italic;
}

//Welcome Page
.welcome-div {
  @extend %PageDivTemplate;
  @extend %PurpleGradient;
  height: 80vh;
  padding: 100px;
}

.welcome-link {
  text-decoration: none;
  background: #FFFFFF;
  background: linear-gradient(to bottom, #FFFFFF 0%, #BDBDBD 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 1.75rem;
}

.welcome-image {
  align-self: center;
}

//Login Page
.loginImage {
  @extend %PurpleGradient;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; 
}

.circleImage {
  width: 200px;
  border-radius: 50%;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.signup-link {
  color: variables.$link-color;
}

//Buttons
.gradient-button {
  @extend %PurpleGradient;
}

//Navbar 
.nav-link {
  text-decoration: none;
  color: white;
}

.menu-link {
  text-decoration: none;
  color: black;
}

//Home Page
.home-div {
  @extend %PageDivTemplate;
  height: 100%;
  padding: 100px;
  margin-bottom: 200px;
}

.moodIcon {
  width: 160px;
}

//Rec Pages
.moodrec-div {
  height: 80vh;
  font: variables.$font-color-main;
}

.moodrec-div-main {
  @extend %PageDivTemplate;
  height: 100%;
}

.rec-padding {
  padding: 100px 50px;
}

.rec-profile-link, .rec-login-link {
  color: variables.$link-color;
  font-weight: 600;
  font-size: 1.4rem;
}

//Song Rec Page
.song-div-right {
  border-radius: 0px 20px 20px 0px;
  background: linear-gradient(180deg, #594B91 0%, #FFF 100%);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.moodIconSmall {
  width: 128px;
}

.youtube-link {
  color: variables.$link-color;
}

//Advice Rec Page
.advice-div-right {
  border-radius: 0px 20px 20px 0px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.80);
}

//Quote Rec Page
hr {
  border: 2px solid white;
  width: 90%;
  border-radius: 50px;
}

//Profile Page
.profile-div {
  @extend %PageDivTemplate;
  height: 80vh;
  padding: 50px;
}

//Edit Modal
.editmodal-div {
  @extend %PageDivTemplate;
  height: 80vh;
  padding: 100px;
}