.calendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

//calendar header
.calendar-header {
  width: 100%;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}

.title h2 {
  margin: auto;
}

//navigation buttons
.tools {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}

.tools button {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.tools button:hover {
  color: #99cccc;
}

//Calendar body
.calendar-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-header {
  height: 50px;
  width: 100%;
}

.table-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calendar-day {
  position: relative;
  border: 1px solid #a6a6a6;
}

.calendar-day:hover {
  background-color: rgba(0,0,0,.10);
}

.calendar-day p {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #a6a6a6;
  margin: 0px;
}

.current p {
  color: #000000;
}

.selected p {
  color: #442d8a;
  font-weight: bold;
}

.calendar-badge {
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   position: absolute;
   right: 34px;
   bottom: 14px;
}

.legend-badge {
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
}