@use "templates";
@use "variables";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.app-div {
  position: relative;
  padding: 100px;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.app-div::before {
  content: "";
  background: url("../assets/main-background.jpg") no-repeat fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6; 
  z-index: -1; 
}

span {
  font-style: italic;
}

//Welcome Page
.welcome-div {
  @extend %PageDivTemplate;
  @extend %PurpleGradient;
  height: 80vh;
  padding: 100px;
}

.welcome-link {
  text-decoration: none;
  background: #FFFFFF;
  background: linear-gradient(to bottom, #FFFFFF 0%, #BDBDBD 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 1.5rem;
}

.welcome-image {
  align-self: center;
}

//Login Page
.loginImage {
  @extend %PurpleGradient;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; 
}

.circleImage {
  width: 200px;
  border-radius: 50%;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.signup-link {
  color: variables.$link-color;
  font-size: 24px;
}

//Buttons
.gradient-button {
  @extend %PurpleGradient;
}

//Navbar 
.nav-link {
  text-decoration: none;
  color: white;
}

.logo-link {
  font-weight: 600;
}

.menu-link {
  text-decoration: none;
  color: black;
}

//Home Page
.home-div {
  @extend %PageDivTemplate;
  height: 100%;
  padding: 100px;
  margin-bottom: 500px;
}

.moodIcon {
  width: 150px;
}

.moodIcon:hover {
  cursor: pointer;
}

//Rec Pages
#moodrec {
  height: 90vh;
  margin: 0;
  padding: 0;
}

.moodrec-div {
  height: 80vh;
  font: variables.$font-color-main;
}

.moodrec-div-main {
  @extend %PageDivTemplate;
  height: 100%;
}

.rec-padding {
  padding: 100px 50px;
}

.rec-profile-link, .rec-login-link {
  color: variables.$link-color;
  font-weight: 600;
  font-size: 1.4rem;
}

//Song Rec Page
.song-div-right {
  border-radius: 0px 20px 20px 0px;
  background: linear-gradient(180deg, #594B91 0%, #FFF 100%);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.moodIconSmall {
  width: 128px;
}

.youtube-link {
  color: variables.$link-color;
}

//Advice Rec Page
.advice-div-right {
  border-radius: 0px 20px 20px 0px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.80);
}

//Quote Rec Page
hr {
  border: 2px solid white;
  width: 90%;
  border-radius: 50px;
}

//Profile Page
.profile-div {
  @extend %PageDivTemplate;
  height: 80vh;
  padding: 50px;
}

//Edit Modal
.editmodal-div {
  @extend %PageDivTemplate;
  height: 100&;
  padding: 100px;
  background: rgb(246, 243, 252);
}

/* For mobile screens */
@media only screen and (max-width: 600px) {
  .circleImage {
    width: 10rem;
  }

  .welcome-link {
    font-size: 1.2rem;
  }

  .app-div {
    padding: 30px;
    min-height: 100vh;
  }
  .login-mobile {
    border-radius: 20px;
    height: 100%;
  }

  .signup-link {
    font-size: 20px;
  }

  .home-div {
    padding: 20px;
    margin-top: 50px;
  }
  
  .moodIcon {
    width: 75px;
  }

  .moodIconSmall {
    width: 100px;
  }

  .rec-padding {
    padding: 15px;
  }

  .song-div-right {
    border-radius: 0px 0px 20px 20px;
  }

  .advice-div-right {
    border-radius: 0px 0px 20px 20px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 750px) {
  .moodIcon {
    width: 100px;
  }

  .home-div {
    padding: 50px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1024px) {
  .moodIcon {
    width: 130px;
  }

  .home-div {
    padding: 100px;
    margin-top: 50px;
  }
}