@use "templates";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: inter;
}

html, body, #root {
  height: 100%;
}

.app-div {
  background: url("../assets/main-background.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 100px;
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100%;
  height: auto;
}

span {
  font-style: italic;
}

//Welcome Page
.welcome-div {
  @extend %PageDivTemplate;
  @extend %PurpleGradient;
  height: 80vh;
  padding: 100px;
}

.welcome-link {
  color: white;
  text-decoration: none;
}

.welcome-image {
  align-self: center;
}

//Login Page
.loginImage {
  @extend %PurpleGradient;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; 
}

.circleImage {
  width: 200px;
  border-radius: 50%;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

//Buttons
.gradient-button {
  @extend %PurpleGradient;
}

//Navbar 
.nav-link {
  text-decoration: none;
  color: white;
}

.menu-link {
  text-decoration: none;
  color: black;
}

//Home Page
.home-div {
  @extend %PageDivTemplate;
  height: 100%;
  padding: 100px;
  margin-bottom: 200px;
}

.moodIcon {
  width: 160px;
}

//Rec Pages
.moodrec-div {
  height: 80vh;
}

.moodrec-div-main {
  @extend %PageDivTemplate;
  height: 100%;
}

.rec-padding {
  padding: 100px 50px;
}

//Song Rec Page
.song-div-right {
  border-radius: 0px 20px 20px 0px;
  background: linear-gradient(180deg, #594B91 0%, #FFF 100%);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.moodIconSmall {
  width: 128px;
}

//Advice Rec Page
.advice-div-right {
  border-radius: 0px 20px 20px 0px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
}

//Quote Rec Page
hr {
  border: 2px solid white;
  width: 90%;
  border-radius: 50px;
}

//Profile Page
.profile-div {
  @extend %PageDivTemplate;
  height: 80vh;
  padding: 50px;
}

//Edit Modal
.editmodal-div {
  @extend %PageDivTemplate;
  height: 80vh;
  padding: 100px;
}