.calendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

//calendar header
.calendar-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.today-button:hover {
  cursor: pointer;
}

//navigation buttons
.tools {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.tools button {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.tools button:hover {
  color: #594B91;
}

//Calendar body
.calendar-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-header {
  height: 50px;
  width: 100%;
}

.table-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calendar-day {
  position: relative;
  border: 1px solid #a6a6a6;
}

.calendar-day:hover {
  background-color: rgba(0,0,0,.10);
}

.calendar-day p {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #a6a6a6;
  margin: 0px;
}

.current p {
  color: #000000;
}

.selected p {
  color: #442d8a;
  font-weight: bold;
}

.calendar-badge {
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   position: absolute;
   right: 3rem;
   bottom: 14px;
}

.legend-badge {
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
}

.calendar-popup {
  background-color: #E7E3ED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    margin: 0px 20px;
    padding: 0px 10px;
  }
}

.popoverButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  button {
    color: #868686;
  }
  :nth-child(2) {
    display: flex;
    justify-content: flex-end;
  }
}

.legend-plabel {
  margin: 0px;
}

/* For mobile screens */
@media only screen and (max-width: 600px) {
  .calendar-badge {
    width: 0.7rem;
    height: 0.7rem;
    right: 1.7rem;
 }
 
 .legend-badge {
    width: 0.7rem;
    height: 0.7rem;
 }

 .table-header {
  height: 1.5rem;
  width: 100%;
}

  .calendar-body {
    height: 75%;
  }
}